section
	article.termometro
		text-align center
		.temperatura
			h4
				span
					display block
					padding 0.3em

		.uso
			margin 1em 0

			label
				padding 0.5em 1em
				//font-weight bold

		.aireAutomatico
			padding-bottom 0.8em

			#preferencia
				width 45%

		.aireManual
			figure
				img
					margin-top 1em
					width 5em

		.infoAire
			span
				display block

@media only screen and (min-device-width: 768px)
	section
		article.termometro
			position absolute
			left 31%
			top 6.7em
			width 40%

		aside
			margin-top 1.7em
			width 30%
			