color_fondo = #444
color_letras = rgba(white, 0.5)
color_nav = #22BCE0

logos(flotar, ancho)
	bottom 5px
	float flotar
	position absolute
	top 5px
	width ancho

body
	color color_fondo
	display flex 	///para footer abajo
	flex-direction column 	///para footer abajo
	font-family Arial, Helvetica, sans-serif
	font-size 16px
	height 100%
	min-height 100vh 	///para footer abajo

footer
	background color_fondo
	bottom 0
	color color_letras
	left 0
	margin-top 1em
	min-height 5rem
	padding 1em 0
	text-align center
	width 100%
		
	h3
		font-size 14px
		font-weight normal
		
		strong
			display block
	
		span
			display block

			&:before
			&:after
				content " - "

html
	position relative
	min-height 100%

header
	background color_fondo
	color color_letras
	padding 0.5em
	position relative

	.logo
		border-right 1px solid white
		logos(left, 60px)

		img
			width 52px

	.logoU
		border-left 1px solid white
		logos(right, 70px)
		display inline-block
		right 3px
		padding-top 7px

		img
			margin-left 10px
			width 52px
			
	.titulo
		margin 0 80px 0 70px

		.title
			font-size 18px
			font-weight normal
			height 3.5em
			margin 0
			text-align center
			line-height 60px

nav
	.escritorio
		display none

	.movil
		background color_nav
		border-left 10px solid white
		position relative
		
		&:before
			border-bottom 20px solid transparent
			border-left 7px solid white
			border-top 20px solid transparent
			content ""
			left 0px
			position absolute
			top 0
		
		.menu
			height 40px
			line-height 40px
			margin 0
			padding-left: 10px;
			overflow-x auto
			white-space nowrap
			
			li
				display inline-block
				
				a
					text-decoration none

					span
						color white
						display block
						margin 0 0.5em
						padding 0 0.2em

				&:hover
					background rgba(black,0.1)
					cursor pointer
					
					span
						color color_letras

section
	flex 1 	///para footer abajo

@media only screen and (min-device-width: 768px)
	anchoAlto(ancho = 40px, alto = 40px)
		height alto
		width ancho

	nav
		.escritorio
			anchoAlto(69px, 90%)
			background-color color_fondo
			display block
			overflow hidden
			position absolute
			-webkit-transition width 0.5s
			-moz-transition width 0.5s
			
			&:hover
				width 200px

			.logoPrincipal
				anchoAlto()
				background-image url(../imagenes/menu.png)
				background-size 40px 40px
				margin 10px 10px 70px 14px

			.opcion
				anchoAlto(200px)
				padding 6px 0 6px 14px

				&:hover
					background rgba(white, 0.5)
					cursor pointer

				&:nth-child(2)
					.logoMenu
						background-image url(../imagenes/home.png)

				&:nth-child(3)
					.logoMenu
						background-image url(../imagenes/config.png)
					
				&:nth-child(4)
					.logoMenu
						background-image url(../imagenes/cancel.png)

				.logoMenu
					anchoAlto()
					background-size 40px 40px
					float left
					height 40px
					width 40px

				span
					color color_letras
					margin-left 20px
					line-height 40px

		.movil
			display none