color_fondo = #444
color_letras = rgba(white,0.5)
azul = #22BCE0

body
	color color_fondo
	font-family Arial, Helvetica, sans-serif
	font-size 16px
	
footer
	background color_fondo
	bottom 0
	color color_letras
	padding 1em 0
	position fixed
	text-align center
	width 100%
		
	h3
		font-size 14px
		font-weight normal
		
		strong
			display block
	
		.design 
		.electronica
			display block

			&:before
			&:after
				content " - "

header
	background color_fondo
	color color_letras
	padding 0.5em
	position relative
	
	.logo
		border-right 1px solid white
		bottom 5px
		float left
		position absolute
		top 5px
		width 60px

		img
			width 52px
			
	.logoU
		border-left 1px solid white
		bottom 5px
		display inline-block
		float right
		position absolute
		right 5px
		top 5px
		width 70px

		img
			margin-left 10px
			width 52px
			
	.titulo
		margin 0 80px 0 70px

		.title
			font-size 18px
			font-weight normal
			height 3.5em
			margin 0
			text-align center
			line-height 60px

nav
	.cajaselect
		background none repeat scroll 0 0 #4CBEFF
		border-radius 0 0 0 0
		cursor pointer
		margin-top 10px
		padding 5px 10px
		position relative
		z-index 1
		
		span.seleccionado
			color white
			display block
			font-weight 700
			line-height 3
			text-indent 10px

		span.trianguloInf
			border-left 9px solid rgba(0, 0, 0, 0)
			border-right 9px solid rgba(0, 0, 0, 0)
			border-top 13px solid #CFECFC
			height 0
			position absolute
			right 10px
			top 17px
			width 0

		span.triangulosup
			border-bottom 13px solid #CFECFC
			border-left 9px solid rgba(0, 0, 0, 0)
			border-right 9px solis rgba(0, 0, 0, 0)
			height 0
			position absolute
			right 10px
			top 17px
			width 0

		ul.listaselect
			background none repeat scroll 0 0 #FFF
			border 1px solid #DEDEDE
			display none
			left -1px
			margin-left 0
			margin-top 49px
			padding-left 0
			position absolute
			text-indent 15px
			top 0
			width 100%

			li
				border-bottom 1px solid #EFEFEF
				cursor pointer
				display block
				line-height 15px
				list-style outside none none
				margin 0
				padding 1.1em 0.3em
				
				a
					color #333
					text-decoration none

			li:hover
				background color_fondo

				a
					color color_letras
					text-decoration none

					&:before
					&:after
						content " - "

section
	
	article.controles
		align center
		display none
		margin-top 10px
		top 10px

		.onOff
			margin-left 7.5%
			width 85%
			
			figure
				img
					margin-left 5%
					width 90%

		.divDimmer
			margin-left 10%
			text-align center
			width 80%

	article.infoLuz
		display none
		margin-left 10%
		margin-top 5px
		width 80%

	article.welcome
		margin-top 10px