color_fondo = #444
color_letras = rgba(white,0.5)
azul = #22BCE0
//#4CBEFF

triangulo(){
	border-left 9px solid rgba(0, 0, 0, 0)
	border-right 9px solid rgba(0, 0, 0, 0)
	height 0
	position absolute
	right 10px
	top 17px
	width 0
}

body
	color color_fondo
	font-family Arial, Helvetica, sans-serif
	font-size 16px
	
footer
	background color_fondo
	bottom 0
	color color_letras
	padding 1em 0
	position fixed
	text-align center
	width 100%
		
	h3
		font-size 14px
		font-weight normal
		
		strong
			display block
	
		.design 
		.electronica
			display block

			&:before
			&:after
				content " - "

header
	background color_fondo
	color color_letras
	padding 0.5em
	position relative
	
	.logo
		border-right 1px solid white
		bottom 5px
		float left
		position absolute
		top 5px
		width 60px

		img
			width 52px
			
	.logoU
		border-left 1px solid white
		bottom 5px
		display inline-block
		float right
		position absolute
		right 5px
		top 5px
		width 70px

		img
			margin-left 10px
			width 52px
			
	.titulo
		margin 0 80px 0 70px

		.title
			font-size 18px
			font-weight normal
			height 3.5em
			margin 0
			text-align center
			line-height 60px

nav
	background azul
	border-left 10px solid white
	position relative
	
	&:before
		border-bottom 20px solid transparent
		border-left 7px solid white
		border-top 20px solid transparent
		content ""
		left 0px
		position absolute
		top 0
	
	.menu
		cursor pointer
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap
		
		li
			display inline-block
		
			span
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em

			&:hover
				background rgba(black,0.1)
				
				span
					color color_letras

section
	
	article.controles
		align center
		display none
		margin-top 10px
		top 10px

		.onOff
			margin-left 7.5%
			width 85%
			
			figure
				img
					margin-left 5%
					width 90%

		.divDimmer
			margin-left 10%
			text-align center
			width 80%

	article.infoLuz
		display none
		margin-left 10%
		margin-top 5px
		width 80%
	
	article.tablaLuz
		display none
		width 100%
		
		.nombrePuerto
		.numeroPuerto
		.estadoPuerto
		.valorDimmer
			display inline-block
			width 24%

		.luzOver:hover
			background rgba(black,0.2)

	article.welcome
		margin-top 10px

@media screen and (min-width: 768px)
	nav
		.menu
			.menuLuz
				display none

	section
		
		article.tablaLuz
			display block