color_fondo = #444
color_letras = rgba(white, 0.5)
color_tabla_luz = rgba(black,0.1)

alineacionEscritorio(anchoDiv, margenIzq)
	display block
	float left
	margin 30px 0 0 margenIzq
	width anchoDiv

section
	article
		width 100%

		.termometro
			display none

			.temperatura
				text-align center
				
				span
					display block
				
			.controlTermometro
				width 100%

				span
				input
				img
					display block
					margin-left 9%
					margin-top 5px
					width 80%
		
	article.welcome
		img
			display block
			margin auto
			padding-top 20px
			width 90%

	aside
		display none

@media only screen and (min-device-width: 768px)
	section
		article
			.controles
				alineacionEscritorio(25%, 11%)

			.termometro
				display block
				float right
				margin 30px 6%
				width 36%
					
				.controlTermometro
					width 100%

					span
					input
					img
						display block
						margin-left 24%
						margin-top 5px
						width 50%

		article.tablaLuz
			alineacionEscritorio(40%, 100px)

		article.welcome
			margin-left 25%
			position absolute
			top 6em
			width 70%

		aside
			display block
			margin-left 8%
			
@media only screen and (min-device-width: 1024px)
	section
		article
			.controles
				margin-left 15%

			.termometro
				width 38%
		
		article.welcome
			width 35%