color_fondo = #444
color_letras = rgba(white, 0.5)
color_tabla_luz = rgba(black,0.1)

alineacionEscritorio(anchoDiv, margenIzq)
	display block
	float left
	margin 30px 0 0 margenIzq
	width anchoDiv

section
	article
		width 100%

		.controles
			display none
			margin-top 10px
			top 10px

			.onOff
				margin-left 7.5%
				width 85%
				
				figure
					img
						margin-left 5%
						width 90%

			.divDimmer
				margin-left 10%
				text-align center
				width 80%

		.infoLuz
			display none
			margin-left 20%
			margin-top 20px
			width 80%

			span
				display block

		.termometro
			display none

			.temperatura
				text-align center
				
				span
					display block
				
			.controlTermometro
				width 100%

				span
				input
				img
					display block
					margin-left 9%
					margin-top 5px
					width 80%
		
	article.tablaLuz
		background color_tabla_luz
		display none
		margin-top 1px
		text-align center
		width 100%
		
		.cabecera
			background rgba(black, 0.2)
			margin-bottom 1px

		.tabla
			display inline-block
			height 40px
			line-height 40px
			width 24%
			
			&:hover
				cursor pointer

			&[name = nombre]
				width 48%

		.luzOver:hover
			background color_tabla_luz

	article.welcome
		img
			display block
			margin auto
			padding-top 20px
			width 90%

@media only screen and (min-device-width: 768px)
	section
		article
			.controles
				alineacionEscritorio(25%, 11%)

			.termometro
				display block
				float right
				margin 30px 6%
				width 36%
					
				.controlTermometro
					width 100%

					span
					input
					img
						display block
						margin-left 24%
						margin-top 5px
						width 50%

		article.tablaLuz
			alineacionEscritorio(40%, 100px)

		article.welcome
			display none
			
@media only screen and (min-device-width: 1024px)
	section
		article
			.controles
				margin-left 15%

			.termometro
				width 38%
		