.cajaselect {
    background: none repeat scroll 0 0 #4CBEFF;
    border-radius: 0 0 0 0;
    cursor: pointer;
    margin-top: 0px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}
ul.listaselect {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #DEDEDE;
    display: none;
    left: -1px;
    margin-left: 0;
    margin-top: 49px;
    padding-left: 0;
    position: absolute;
    text-indent: 15px;
    top: 0;
    width: 100%;
}
ul.listaselect li {
    border-bottom: 1px solid #EFEFEF;
    cursor: pointer;
    display: block;
    line-height: 15px;
    list-style: outside none none;
    margin: 0;
    padding: 1.1em 0.3em;
}
ul.listaselect li a {
    color: #333;
    text-decoration: none;
}
ul.listaselect li a:hover {
    color: #54FFAC;
    text-decoration: none;
}
ul.SelectProductos li:last-child {
    border-bottom: medium none;
}
.seleccionado {
    color: white;
    display: block;
    font-weight: 700;
    line-height: 3;
    text-indent: 10px;
}
.trianguloinf {
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    border-top: 13px solid #CFECFC;
    height: 0;
    position: absolute;
    right: 10px;
    top: 17px;
    width: 0;
}
.triangulosup {
    border-bottom: 13px solid #CFECFC;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    height: 0;
    position: absolute;
    right: 10px;
    top: 17px;
    width: 0;
}