body {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
footer {
  background: #444;
  color: rgba(255,255,255,0.5);
  padding: 1em 0;
  text-align: center;
  width: 100%;
}
footer h3 {
  font-size: 14px;
  font-weight: normal;
}
footer h3 strong {
  display: block;
}
footer h3 .design,
footer h3 .electronica {
  display: block;
}
footer h3 .design:before,
footer h3 .electronica:before,
footer h3 .design:after,
footer h3 .electronica:after {
  content: " - ";
}
header {
  background: #444;
  color: rgba(255,255,255,0.5);
  padding: 0.5em;
  position: relative;
}
header .logo {
  border-right: 1px solid #fff;
  bottom: 5px;
  float: left;
  position: absolute;
  top: 5px;
  width: 60px;
}
header .logo img {
  width: 52px;
}
header .logoU {
  border-left: 1px solid #fff;
  bottom: 5px;
  display: inline-block;
  float: right;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 70px;
}
header .logoU img {
  margin-left: 10px;
  width: 52px;
}
header .titulo {
  margin: 0 80px 0 70px;
}
header .titulo .title {
  font-size: 18px;
  font-weight: normal;
  height: 3.5em;
  margin: 0;
  text-align: center;
  line-height: 60px;
}
.sec {
  background: #fff;
}
.sec .selPuerto .cajaselect {
  background: none repeat scroll 0 0 #4cbeff;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  position: relative;
  z-index: 1;
}
.sec .selPuerto .cajaselect ul .listaselect {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #dedede;
  display: none;
  left: -1px;
  margin-left: 0;
  margin-top: 49px;
  padding-left: 0;
  position: absolute;
  text-indent: 150px;
  top: 0;
  width: 100%;
}
.sec .selPuerto .cajaselect ul .listaselect li {
  border-bottom: 1px solid #efefef;
  cursor: pointer;
  display: block;
  line-height: 150px;
  list-style: outside none none;
  margin: 0;
  padding: 1.1em 0.3em;
}
.sec .selPuerto .cajaselect ul .listaselect li a:hover {
  color: #999797;
  text-decoration: none;
}
.selectProductos li:last-child {
  border-bottom: medium none;
}
.seleccionado {
  color: #fff;
  display: block;
  font-weight: 700;
  line-height: 3;
}
.seleccionado text-indent 10px .trianguloInf {
  border-left: 9px solid rgba(0,0,0,0);
  border-right: 9px solid rgba(0,0,0,0);
  border-top: 13px solid #cfecfc;
  height: 0;
  position: absolute;
  right: 10px;
  top: 17px;
  width: 0;
}
.seleccionado text-indent 10px .trianguloUp {
  border-bottom: 13px solid #cfecfc;
  border-left: 9px solid rgba(0,0,0,0);
  border-right: 9px solis rgba(0,0,0,0);
  height: 0;
  position: absolute;
  right: 10px;
  top: 17px;
  width: 0;
}
.seleccionado .controles .onOff {
  top: 10px;
  margin-top: 10px;
}
.seleccionado .controles .onOff img {
  width: 150px;
}
.seleccionado .clock {
  background-color: #252525;
  float: left;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.seleccionado .clock .front.left {
  left: 0;
  z-index: 10;
}
.seleccionado .clock .rotate {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
}
.seleccionado .clock .bg,
.seleccionado .clock .front {
  background-color: #252525;
  height: 200px;
  position: absolute;
  top: 0;
  width: 100px;
}
.seleccionado .clock .display {
  color: #f5f5f5;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 60px;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 4px 4px 5px #333;
  top: 65px;
  width: 200px;
  z-index: 20;
}
.seleccionado .clock .bg .left {
  left: 0;
}
.seleccionado .clock .bg .right {
  left: 100px;
}
.seleccionado .green .bg .left {
  background: url("../imagenes/bg_green.png") no-repeat left top;
}
.seleccionado .green .bg .right {
  background: url("../imagenes/bg_green.png") no-repeat right top;
}
.seleccionado .rotate .right {
  display: none;
  z-index: 11;
}
#fancyClock {
  height: 200px;
  margin: 40px auto;
  width: 600px;
}
