{% extends 'index.html' %}
{% load staticfiles %}

{% block estilos %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/aire.css' %}">
{% endblock %}

{% block opcion %}
<article class="termometro">
	<div class="temperatura">
		<h4>
			<span>Temperatura Ambiente:</span>
			<span id="temp">Cargando...</span>
			<span>Humedad Ambiente:</span>
			<span id="humedad">Cargando...</span>
		</h4>
	</div>
	<div class="uso">
		<span>Control:</span>
		<label id="lManual" ><input value="1" name="uso" type="radio" id="usoManual" onclick="switchControles('manual')" />Manual</label>
		<label id="lAuto" ><input value="2" name="uso" type="radio" id="usoAuto" onclick="switchControles('auto')" />Automatico</label>
	</div>
	<div class="aireAutomatico"></div>
	<div class="aireManual">
		<div class="infoAire">
			<div>
				<strong class="estado">Estado: </strong>
				<span id="estado">Encendido.</span>
			</div>
			<div>
				<strong class="estado">Ultima temperatura configurada: </strong>
				<span id="tempActual">15</span>
			</div>
		</div>
		<figure>
			<img src="{% static 'imagenes/power.png' %}" alt="Power" title="Power" id="power" onclick="ControlEstado(true)" />
			<img src="{% static 'imagenes/buttonUp.png' %}" alt="Arriba" title="Arriba" onclick="subirTemperatura()" />
			<img src="{% static 'imagenes/buttonDown.png' %}" alt="Abajo" title="Abajo" onclick="bajarTemperatura()" />
		</figure>
	</div>
</article>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript" src="../static/js/Aire.js" ></script>
{% endblock %}