<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Awesome Home</title>
	<link rel="stylesheet" href="../static/css/normalize.css" />
	<link rel="stylesheet" href="../static/css/domo.css">
	{% block estilos %}{% endblock %}
</head>
<body onload="Inicio()">
	<header>
		<div class="logo">
			<figure>
				<img src="../static/imagenes/logo.png" alt="Domotica" title="Raspberry Pi" />
			</figure>
		</div>
		<div class="titulo">
			<h1 class="title">
				Central Domotica
			</h1>
		</div>
		<div class="logoU">
			<figure>
				<img src="../static/imagenes/logoU.png" alt="Universidad" title="Universidad" />
			</figure>
		</div>
	</header>
	{% if not user.is_anonymous %}
	<nav>
		<input type="hidden" id="hiddenPuerto" value="" />
		<input type="hidden" id="hiddenDb" value="{{ sJsonLuz }}" />
		<div class="movil">
			<ul class="menu">
				<li class="menuLuz" onclick="mostrarTablaLuz()">
					<a href="#">
						<span class="Luz">Luz</span>
					</a>
				</li>
				<li class="menuAire" onclick="mostrarAire()">
					<a href="#">
						<span class="Aire">Aire</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="opciones">Opciones</span>
					</a>
				</li>
				<li>
					<a href="../cerrar">
						<span class="cerrar">Cerrar Sesión</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="escritorio">
			<div class="logoPrincipal">
			</div>
			<div class="opcion" onclick="location.href='../inicio'">
				<div class="logoMenu"></div>
				<span>Inicio</span>
			</div>
			<div class="opcion" onclick="location.href='../opciones'">
				<div class="logoMenu"></div>
				<span>Opciones</span>
			</div>
			<div class="opcion" onclick="location.href='../cerrar'">
				<div class="logoMenu"></div>
				<span>Cerrar sesión</span>
			</div>
		</div>
	</nav>
	{% endif %}
	<section>
		{% block contenido %}{% endblock %}
	</section>
	<footer>
		<h3>
			<strong>
				Fundación Universitaria Tecnológico Comfenalco
			</strong>
			<span>
				Yoes Manuel Monterroza Diaz
			</span>
			<span>
				Jose Fabian Benavides Moreno
			</span>
		</h3>
	</footer>

	<!--Carga de jquery y algunos scripts-->
	{% block javascript %}{% endblock %}
</body>
</html>