<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Centro Domotica</title>
	<link rel="stylesheet" href="../static/css/normalize.css" />
	<link rel="stylesheet" href="../static/css/domo.css">
	
</head>
<body onload="Inicio()">
	<header>
		<div class="logo">
			<figure>
				<img src="../static/imagenes/logo.png" alt="Domotica" title="Raspberry Pi" />
			</figure>
		</div>
		<div class="titulo">
			<h1 class="title">
				Central Domotica
			</h1>
		</div>
		<div class="logoU">
			<figure>
				<img src="../static/imagenes/logoU.png" alt="Universidad" title="Universidad" />
			</figure>
		</div>
	</header>
	<nav>
		<input type="hidden" id="hiddenPuerto" value="" />
		<input type="hidden" id="hiddenDb" value="{{ sJsonLuz }}" />

		<ul class="menu">
			<li class="menuLuz" onclick="mostrarTablaLuz()">
				<span class="Luz">Luz</span>
			</li>
			<li class="menuAire" onclick="mostrarAire()">
				<span class="Aire">Aire</span>
			</li>
		</ul>
	</nav>
	<section>
		<article class="welcome">
			<img src="../static/imagenes/AwesomeHome.png" alt="Awesome Home" title="Awesome Home">
		</article>
		<article class="tablaLuz">
			<div class="cabecera">
				<div class="tabla"><strong>Nombre</strong></div>
				<div class="tabla"><strong>Puerto</strong></div>
				<div class="tabla"><strong>Estado</strong></div>
				<div class="tabla"><strong>Dimmer</strong></div>
			</div>
			{% for l in luz %}
				<div class="luzOver" id="puertoLuz{{l.puerto}}" onclick="luzOverClick({{l.puerto}})">
					<div class="tabla"><span id="nombrePuerto{{l.puerto}}">{{l.nombre}}</span></div>
					<div class="tabla"><span id="numeroPuerto{{l.puerto}}">{{l.puerto}}</span></div>
					{%if l.valorLuz == 1%}
						<div class="tabla"><span id="estadoPuerto{{l.puerto}}">Encendido</span></div>
					{%else%}
						<div class="tabla"><span id="estadoPuerto{{l.puerto}}">Apagado</span></div>
					{%endif%}
					<div class="tabla"><span id="valorDimmer{{l.puerto}}">{{l.valorDimmer}}</span></div>
				</div>
			{% endfor %}
		</article>
		<article>
			<div class="controles">
				<div class="onOff">
					<figure>
						<img src="../static/imagenes/botonOn.png" alt="on-off" id="imgOnOff" class="imagen" onClick="ProcesoLuz('luz');" />
					</figure>
				</div>
				<div class="divDimmer">
					<input type="range" id="idDimmer" name="dimmer" value="100" min="20" max="80" step="1" onchange="ProcesoLuz('dimmer')" />
				</div>
			</div>
			<div class="infoLuz">
				<span>
					<strong class="estado">Estado:</strong>
				</span>
				<span class="port">
					Puerto 0
				</span>
				<span class="infoEstadoDimmer">
					Dimmer en 100%
				</span>
				<span class="infoEstadoOnOff">
					Energia On
				</span>
			</div>
			<div class="termometro">
				<svg class="vector" viewBox="0 0 200 200">
					<circle class="contenedor" cx="100" cy="70" r="50" />
					<line class="medidor" x1="100" y1="70" x2="78" y2="103" />
					<line class="seccionReloj" x1="67" y1="70" x2="60" y2="70" />
					<line class="seccionReloj" x1="81.8" y1="42.5" x2="78" y2="37" />
					<line class="seccionReloj" x1="118.2" y1="42.5" x2="122" y2="37" />
					<line class="seccionReloj" x1="133" y1="70" x2="140" y2="70" />
					<text class="medida" x="78" y="103" >0</text>
					<text class="medida" x="112" y="103" >100</text>
				</svg>
			</div>
		</article>
	</section>
	<footer>
		<h3>
			<strong>
				Universidad Antonio Nariño
			</strong>
			<span class="electronica">
				Electronica por Leonardo Benavides
			</span>
			<span class="design">
				Pagina web por Fabian Benavides
			</span>
		</h3>
	</footer>

	<!--Carga de jquery y algunos scripts-->
	<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript" src="../static/js/Domo.js" ></script>
</body>
</html>